*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAF9F8;
}

.deskbar{
    background-color: rgb(19, 75, 230);
    color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 48px;
}

.main{
    background-color: #FAF9F8;
}

.desk{
    display: grid;
    justify-content: center;
    padding: 10px
}

.desk h3{
    color: black;
}

.desk p{
    font-size: 14px;
}

.bloco{
    margin-top: 10px;
}

.bloco{
    display: flex;
    justify-content: center;
}

.bloco input{
    width: 120vh;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px;
}

.bloco input:focus{
    outline: none;
}

.bloco input::placeholder{
    font-size: 15px;
    color: rgb(19, 75, 230);
}

.conclusao{
    margin-top: 10px;
}

.calend-button{
    display: flex;
    justify-content: center;
    gap: 90vh;
}

.calendario input{
padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

#calendar::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.4);
}

.calendario input:focus {
  outline: none;
  border-color: rgb(19, 75, 230);
  box-shadow: 0 0 5px rgb(19, 75, 230);
}

.button-add button{
    padding: 8px;
    border: 1px solid;
    background-color: #FDFDFD;
}

.button-add button:hover{
    cursor: pointer;
    color: rgb(19, 75, 230);
}

.tarefas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    
}

.lista-tarefas{
    width: 120vh;
    padding: 20px;
}

.lista-tarefas ul{
    list-style: none;
    text-decoration: none;
}

.lista-tarefas ul li{
    margin-top: 10px;
    background-color: #FDFDFD;
    padding: 10px;
}

#lista li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.botoes button{
    padding: 5px;
    border: 1px solid;
    background-color: #FDFDFD;
}

.botoes button:hover{
    cursor: pointer;
    color: rgb(19, 75, 230);
}

.feito span {
  text-decoration: line-through;
  color: #999;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.feito span {
  text-decoration: line-through;
  color: #999;
  transition: 0.3s;
}